# ignore .env file
.env

# ignore node_modules and yarn.lock
node_modules/
yarn.lock

# ignore build and dist folders
build/
dist/

# ignore IDE files
.idea/
.vscode/

# ignore docker files
docker-compose.yml
Dockerfile

# ignore coverage files
coverage.xml
coverage.html

# ignore pyc files
*.pyc

# ignore logs
logs/

# ignore test cache
__pycache__/