# Ignore node_modules and __pycache__ directories
node_modules/
__pycache__/

# Ignore IDE files
.idea/
.vscode/

# Ignore Python cache
.cache/

# Ignore logs
logs/

# Ignore database files
db.sqlite3
db.json

# Ignore coverage files
coverage.xml
coverage.html

# Ignore pyc files
*.pyc